.About {
  display:flex;
  width:100%;
  background-color:#F9B470;
  color:white;
  flex-wrap: wrap
}

.Bio {
  width:100%;
  font-size:1.8rem;
  color:white;
  text-align: center;
  padding: 0 3%;
}

.Projects {
  width:100%
}

@media (min-width:1050px) {

  .About {
    flex-wrap: nowrap
  }
  .Bio {
    width:50%
  }

  .Projects {
    width:50%
  }
}

.Projects .headline, .Bio .headline{
  font-size:4rem;
  font-family: 'Dancing Script', cursive;
  margin:0% 0% 3% 0%;
  text-align: center
}

.Projects a {
  text-decoration: none;
  color:white
}

.Projects .project-container{
  width:100%
}

.Projects .project-container img{
  width: 100%
}